{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Project Tool")}}</h2>
<p>
{{=T("The Project Tool can be used to record Project Information and generate Who's Doing What Where reports.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=A(T("Projects"), _href=URL(f="project"))}}</li>
<li>{{=A(T("Communities"), _href=URL(f="activity"))}} - {{=T("location where Project Activities take place")}}</li>
<li>{{=A(T("Who is doing What Where"), _href=URL(f="activity", args="analyze"))}} - {{=T("Report")}}</li>
</ul>
</div>
